body{
    background-image: url('imagenes/corte3.png');
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo */
    }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
